        body {
            margin: 0;
            background-color:rgb(248, 1, 1)
        }

     
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #c0ca04;
            padding: 10px 20px;
        }

        nav a {
            color: rgb(245, 10, 10);
            text-decoration: none;
            margin: 0 15px;
            font-size: 1.1em;
        }

        nav a:hover {
            color: #cd891b;
        }

        .banner {
            height: 100vh;
            background: url('image.jpg') no-repeat center center/cover;
            color: rgb(192, 160, 160);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 20px;
        }

        .banner h1 {
            font-size: 4em;
            margin: 0;
            text-shadow: 2px 2px 5px rgba(85, 204, 21, 0.7);
        }

        .banner p {
            font-size: 1.5em;
            margin: 20px 0;
            max-width: 600px;
            line-height: 1.5;
        }

        .banner a {
            padding: 15px 30px;
            background-color: #f31212;
            color: rgb(227, 17, 17);
            font-size: 1.2em;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .banner a:hover {
            background-color: #00d315;
        }

        footer {
            background-color: #121111;
            color: rgb(200, 17, 17);
            text-align: center;
            padding: 15px;
            font-size: 1em;
        }